body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #696e9e;
  }

  body .content {
    text-align: center;
    font-size: xx-large;
  }
  
  .site-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    background: #4a4d6d;
  }
    
  .side-menu {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 300px;
    top: 20px;
    left: -300px;
    padding: 0;
    background: #34b399;
    transition: 0.3s transform ease-in-out;
  }
    
  .side-menu ul li a {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  .side-menu-trigger:focus ~ .side-menu, .side-menu:hover {
    transform: translateX(300px); 
  }